<div class="table-agile-info">
  <div class="panel panel-default">
     <div class="panel-heading">
      Import bill table
     </div>
     <div>
       <table class="table" ui-jq="footable">
         <thead>
           <tr>
            <th style="width: 20%;">customerName</th>
            <th style="width: 20%;">email</th>
            <th>phone_number</th>
            <th>address</th>
            <th>dob</th>
            <th>last_purchase</th>
           </tr>
         </thead>
         <tbody>
           <tr data-expanded="true" *ngFor="let x of customerArray | paginate: { itemsPerPage: limit, currentPage: page, totalItems: total }">
            <td style="width: 20%;">{{x.customerName}}</td>
            <td style="width: 20%;">{{x.email}}</td>
            <td>{{x.address}}</td>
            <td>{{x.phone_number}}</td>
            <td>{{x.dob}}</td>
            <td>{{x.last_purchase}}</td>
           </tr>
         </tbody>
       </table>
     </div>
     <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-7 text-right text-center-xs">
          <pagination-controls class="pagination pagination-sm m-t-none m-b-none" (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
      </div>
    </footer>
   </div>
 </div>
